body {
    background-color: lightgray;
    text-align: center;
}

button {
    background-color: green;
   
}

form {
    border-style: outset;
    border-color: grey;
    width: 300px;
    height: 275px;
    padding: 10px;
    display: inline-block;
}